body {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: "Lora", serif;
}
h1 {
  font-weight: bolder;
  margin-top: 7px;
}
ul {
  padding-left: 0px;
  list-style: none;
  font-weight: bold;
}

.wholePage {
  background-color: white;
  border: 400px #407088;
  border-style: solid;
  border-width: 2px;
  max-width: 600px;
  min-width: 300px;

  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 26px;
  padding: 10px;
}
.celsius {
  text-decoration: none;
  color: black;
}

.fahrenheit {
  text-decoration: none;
  color: black;
}
.date {
  padding-top: 48px;
  font-size: larger;
  font-weight: bolder;
  padding-right: 20px;
}

.firstSection {
  padding-top: 5px;
}
.searchBar {
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.searchBar:hover {
  padding: 2px;
}

.searchButton {
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.searchButton:hover {
  padding: 2px;
}
.buttomSection {
  padding-top: 15px;
}

.units {
  line-height: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.faren {
  text-decoration: none;
  color: black;
}

.weather-temperature {
  color: black;
  text-decoration: none;
  cursor: default;
  font-size: 40px;
}
.gitLink {
  text-decoration: none;
}
.gitLink:hover {
  text-decoration: underline;
}

.forcast-temp {
  font-size: 13px;
}
