body {
  background-color: #385170;
  font-family: "Lora", serif;
}
h1 {
  font-weight: bolder;
}
ul {
  list-style: none;
  font-weight: bold;
}

.wholePage {
  border: 400px #407088;
  border-style: solid;
  border-width: 2px;
  max-width: 600px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  margin-top: 26px;
  padding: 10px;
}

.firstSection {
  padding-top: 5px;
}
.searchBar {
  border: solid;
  border-radius: 5px;
  background-color: #5585b5;
}
.searchButton {
  border: solid;
  border-radius: 5px;
  background: #5585b5;
}
.searchBar:hover {
  background-color: #a2a8d3;
}
.searchButton:hover {
  background-color: #a2a8d3;
}
.buttomSection {
  padding-top: 15px;
}
